/*
*  html5 doctor css reset | http://html5doctor.com/html-5-reset-stylesheet
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

body {
	background: #3366CC ;
}
.header {
	color:#FF3333;
	font-size: 20px;
	text-align: center;
	margin: 3em;
}
.container {
	font-family: "time new roman";
	color: #3366CC;
	background: white;
	width: auto;
	border:1px solid red;
	margin:auto;
	padding: 0 5%;
	font-size: 16px;
	display:flex;
	display:-webkit-flex;
	align-items:center;
	-webkit-flex-align:center;

}
.container > div {
	-webkit-flex: 1; /* Safari 6.1+ */
   	flex: 1;
}
.html-css {
	background: url("../images/bg_html-css.jpg") no-repeat center;
	height:300px;
	width: 300px;
	overflow:hidden;
	
}
.javascript {
	background: url("../images/bg_javascript.jpg") no-repeat center;
	height:300px;
	width: 300px;
	overflow:hidden;
}
.php {
	background: url("../images/bg_php.jpg") no-repeat center;
	height:300px;
	width: 300px;
	overflow:hidden;
	
}
.jquery {
	background: url("../images/bg_jquery.jpg") no-repeat center;
	height:300px;
	width: 300px;
	overflow:hidden;
}
ul {
	list-style-type: none;
	text-align: center;
	margin: 80px 0;
}
li {
	margin: 10px;
}

a {
	display: block;
	text-decoration: none;

}
a:visited {
	color:#3366CC;
}
